@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Tajawal&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Slab&family=Tajawal&display=swap');

        /* all page selected */
        * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Slab', serif;
        }
        .page_size{
            min-height:fit-content;
        }
        
        body {
        background: linear-gradient(rgb(9, 9, 87), rgb(144, 102, 211));
        background-attachment:fixed;
        }
        .container_div{
          overflow: hidden;
        }

        .our-branches-div {
          border-bottom: 2px solid white;
          background-color: rgb(3, 5, 14);
        }
        
        #our-branches-city, #our-branches-num {
          color: white;
          font-size:20px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(3, 5, 14);
        }
        
        
        /********************************** nav bar start *******************************************/
        
        .navrow {
          width: 100%;
          height:100%;
          
          }
  
          .nav-logo-div {
          height:fit-content; 
          display: flex;
          justify-content: center;
          align-items: center;
          
          }
  
          #logo-img {
          width:150px;
          height:100%; 
          clip-path: circle(45%);
          }
  
          .company-name { 
            color: rgb(240, 217, 8) !important;
            box-shadow :0px 0px 10px 8px orange !important;
            border-radius: 25px;
            padding:5px;
            width:fit-content;
            display:flex;
            justify-content: center;
            font-size:21px;
            }
    
            .company-name-outer { 
            justify-content:center;  
            display:flex; 
            height:70px;
            align-items: center;
            border-radius:50px;
            }
  
          #navbar_icon{
              margin-top: 20px;
          }
  
          .navli div {
          border-radius:25px;
          border: 2px solid orange;
          }
  
          .navli:hover, .navli a:hover {
          background-color:orange;
          border-radius:20px;
          padding:5px 10px 3px 10px;
          }
  
          /* .apply-btn-a {
              border-radius: 20px !important;
          }
  
          .apply-btn-a:hover {
              border-radius: 20px;
              background-color: orange !important;
              color: white;
          } */
  
          /* #tamil-text {
          display: flex;
          background-color: white;
          padding:8px;
          border-radius:25px;
          border: 2px solid orange;
          color: orangered;
          font-weight:1000;
          }
  
          .tamil-text-outer {
          display: flex;
          justify-content: center;
          align-items: center;
          
          } */
  
          /******************************** nav bar end *******************************/
       
       /* *************************whatsapp icons start************************ */
        #whatsappicon {
        width:85px;
        height:85px;
        }
        .whatsapp_icon_outer {
        right:0px;
        bottom: 10px;
        width: 100px;
        position: fixed;
        z-index: 1;
        }

       /* *************************whatsapp icons end************************ */

        /* **********************page1 start******************* */
       
       
        /******************head name start  */
        #head-name{
            color: white;
            text-align: center;
            font-size:60px;
            /* text-shadow:0px 0px 30px; */
            color:rgb(255, 230, 0);
        }
        
        /* ****************head name end */
       
       
        /* ************************topic div */
        .topic_outerdiv{
          padding:40px 0px 40px 0px;
          background-color: white;
          border-radius: 20px;
        }

        #main_topic{
          text-align: center;
        }
        .pro_topic ul {
          list-style:none;
          display: flex;
          justify-content: center;
        }

        .pro_topic ul li {
          padding: 5px;
        }

        .pro_topic{
          display:flex;
          justify-content:center;          
        }

        .py_dj_outerdiv{
          display: flex;
          justify-content: center;
          padding:30px;          
        }

        .python_logo_div, .django_logo_div{
          display: flex;
          justify-content:center;
          border-bottom: 3px dotted orange;


        }

        .python_logo_div h1, .django_logo_div h1 {
          display: flex;
          align-items: center;
        }
        .python_logo_div img, .django_logo_div img{
          width:300px;
        }

        #python_img, #tensorflow_img, #html_img, #css_img{
          width:130px;
          border-radius: 20px;
        }

        .python_logo_outerdiv, .django_logo_outerdiv{
          border: 3px solid orange;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          flex-direction: column;

        }

        .python_content_div, .django_content_div{
          display: flex;
          justify-content: center;
          font-size:20px;
          padding:30px;
        }
        
        #web_apply_btn a{
          font-size:40px;
          border-radius: 20px;          
        }
        /* ************************topic div */

        /* ********************form start ****************/
        #form-card-body {
            width: 500px;
        }
        .formcol{
            display: flex;
            justify-content: center;
        }
        /* *********************form end***************** */
        /* ***************************page1 end************************ */
        
/* *************************************** contact start **********************************/

.about-col {
  background-color: #050217;
  /* display: flex; */
  height: 100%;
}

#contact-head {
  color: orange;
  display: flex;
  justify-content: center;
  /* border: 2px solid white; */
}

#contact-head h1 {
  font-size:40px;
  padding: 20px;
  /* border: 2px solid white; */
}


.address_col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* border: 2px solid white; */
  gap:10px;
}

.address_col i {
  color: white;
  font-size: 30px;
}

#address {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 40px;
  padding: 20px;
  /* border: 2px solid white; */
  
}

#address-line {
  border-left: 3px solid white;
}

#follow-us {
  width: 100%;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

#followus-icon a {
  font-size: 35px;
}

#followus-icon {
  display: flex;
  justify-content: center;
  gap: 30px ;
  padding-bottom: 20px;
  
}

#fab-icon, #insta-icon, #youtube-icon, #twitter-icon {
  border:3px solid orange;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:25%;
}


/**************************************** contact end **********************************/
